@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
/* introducción principal */
.introduccion1{
    display: flex;
    justify-content: left;
    font-weight: bolder;
    height: 80vh;
    align-items: center;

    font-family: "Pacifico", cursive;

    background-image: url('../img/bg-kood.png');
    background-attachment: fixed;
    background-size: cover;

}
.intro{
    width: 720px;
    animation: introgo 1s ease-in-out;
    margin-left: 10%;
}
@keyframes introgo {
    0% {
        opacity: 0;
        transform: translateY(20px); /* 使用像素作为单位 */
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }  
}
#titulo{
    color: var(--titulo-color);
    font-size: 50px;
    text-transform: capitalize;
}
.intro>ul>li{
    color: var(--titulo-color);
    font-size: 25px;
    margin-bottom: 1.5rem;
}
/* búton de comenzar ahora */
.introduccion1 div button{
    font-size: 1.5rem;
    background: var(--main-color);
    border: 0;
    padding: 20px 50px;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
}
.introduccion1 div button:hover{
    background: var(--main-color);
    color: #fff;
    box-shadow: 0px 0px 2px var(--segundo-color);
}
.introduccion1 div button:active{
    box-shadow: none;
}

/* introduccion2 */
.introduccion2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10vh;
    gap: 100px;
}
.introduccion2>section{
    height: 50%;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 30px;
}
/* 主页商品 */
.productos-theme {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden; /* Hide scrollbar */
}
.productos-theme > h1 {
    margin-bottom: 20px;
}
.productos-theme > .products {
    display: flex;
    gap: 30px;
    width: 70%;
    padding: 10px;
    cursor: grab;
}
.products.dragging {
    cursor: grabbing;
}
.products .product {
    flex: 0 0 auto; /* Prevent items from shrinking */
    margin: 10px;
}
/* 活动 */
.act{
    width: 100%;
    height: 100%;
    background: #000;
    border-radius: 10px;

    text-transform: capitalize;
}
.act>a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: #fff;
}
.act>h1{
    margin: 0;
}
.act1 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    font-size: 60px;
}

.act2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-size: 20px;
}

.act3 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    font-size: 20px;
}
/* 主页第三部分 */
.introduccion3{
    height: 100vh;
    background-color: var(--main-color);
}